<html>
    <head>
    </head>
    <script>
    </script>
    <body>
            <div class="container">
                <form class="form">
                    <h1>Inscription</h1>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Nom</label>
                        <input type="text" class="form-control" id="nom" aria-describedby="nom">
                    </div>
                    <div class="mb-3">
                        <label for="prenom" class="form-label">Prenom</label>
                        <input type="text" class="form-control" id="prenom" aria-describedby="prenom">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="mp" class="form-label">Mot de passe</label>
                        <input type="password" id="mp" name="password" class="form-control"  placeholder="entrez mot de passe" >
                        <br/> 
                        <input type="password" class="form-control" id="cmp" placeholder="confirmez mot de passe">
                    </div>
                    <div class="center">
                          <a class="btn btn-success mb-3" type="submit" >Inscription</a><br>
                    </div>
                </form>   
            </div>
    </body>        
</html>

